{% extends 'index.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="content"> 
            <section class="content-header">
                <h1>Create Position</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
                    </li>
                    <li>
                        <a href="#">Tables</a>
                    </li>
                    <li class="active">Simple</li>
                </ol>
            </section>
 
            <section class="content">
                <form action="{% url 'position-store' %}" method="post">
                        {% csrf_token %}
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                                </div>
                            </div> 
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" style="width: 100%;" name="position_name" required/>
                                        </div>
                                    </div> 
                                </div> 
                            </div> 
                            <div class="box-footer">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a class="btn btn-light" href="{% url 'positions' %}">Back</a>
                            </div>
                        </div> 
                </form>
            </section>
        </div>
    </section>
{% endblock %}
